Cython==0.29.24
numpy==1.19.2
pandas==1.1.5
scikit-learn==0.23.2
scipy==1.5.2
iterative-stratification==0.1.6
imageio==2.4.1
imgaug==0.2.5
scikit-image==0.16.2
cupy-cuda111==9.4.0
tensorflow==2.6.0
tqdm==4.62.3
albumentations==0.1.12
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30